


<table class="table table-striped table-hover ">
  <thead  >
    <tr>
      <th>Code</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Emp mode</th>
      <th>Role</th>
      <th>Email</th>
      <th>Reporting manager</th>
      <th>Job title</th>
      <th>Exprerience</th>
      <th>Tel</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% workers.each do |worker| %>
      <tr>
        <td><%= worker.code %></td>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        <td><%= worker.emp_mode %></td>
        <td><%= worker.role %></td>
        <td><%= worker.email %></td>
        <td><%= worker.reporting_manager %></td>
        <td><%= worker.job_title %></td>
        <td><%= worker.exprerience %></td>
        <td><%= worker.tel %></td>
        <td><%= worker.status %></td>
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_company_worker_path(@company) , class: "btn btn-success" %>

<br>

<h3>Import Workers</h3>
<%= form_tag import_workers_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag 'Upload Employees' %>
<% end %>

<hr>