
<%= simple_form_for(@company) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :city %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Save Company' %>
  </div>
  <h3>Company Employees List</h3>

  <table class='table class="table table-striped table-hover'>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <%= f.simple_fields_for :workers do |builder| %>
        <%= render 'worker_fields', f: builder %>
      <% end %>
    </tbody>

  </table>

  <div class="form-actions">


  </div>
<% end %>
