<table class="table table-striped table-hover ">
  <thead>
    <tr class="nested-fields">
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr class="nested-fields">
      <td><%= link_to_remove_association "Delete Employe", f, class: 'btn btn-primary btn-sm' %></td>
      <td><%= f.input :code %></td>
      <td><%= f.input :first_name %></td>
      <td><%= f.input :emp_mode %></td>
      <td><%= f.input :last_name %></td>
      <td><%= f.input :role %></td>
    </tr>
    <tr class="nested-fields">
      <td><%= f.input :email %></td>
      <td><%= f.input :reporting_manager %></td>
      <td><%= f.input :job_title %></td>
      <td><%= f.input :exprerience %></td>
      <td><%= f.input :tel %></td>
      <td><%= f.input :status %></td>
    </tr>
  
  </tbody>
</table> 

</tr>
